DATABASE_USER=postgres
DATABASE_PASSWORD=change_me
DATABASE_PORT=5432
DATABASE_DB=expense_tracker
DATABASE_HOST=localhost
SECRET_KEY=replace_with_a_long_random_secret
ALGORITHM=HS256
TIME_TO_EXPIRE=30
